{% extends "single_page.html" %} 


{% block text_head %}<div id="profile-text"></div>{% endblock %}

{% block page %}


<div id="profile-container" class="single-page-container">

    <div id="profile-top-bar">
        <div id="profile-top-text" class="head-background">
            <h2>Profile information</h2> 
        </div>      
        <div id="profile-logout">
            <a href="/members/logout"><button>Log out</button></a>  
        </div>
    </div>
    
    <div id="profile-info-container">
        <table class="profile-info-table text-background">
            <tr>
                <td>First Name:</td>
                <td>&nbsp;{{ user.first_name }}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>&nbsp;{{ user.last_name }}</td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>&nbsp;{{ user.username }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>&nbsp;{{ user.email }}</td>
            </tr>
            <tr>
                <td>About:</td>
                <td>&nbsp;{{ profile.about }}</td>
            </tr>
        </table>

    </div>

    
    <div id="edit-profile-button">
        <a href="/members/edit_member/"><button>Edit profile</button></a>
    </div>

    <div id="your-games-container">
        <div id="your-games-title" class="head-background">
            <h2>Your games</h2>
        </div>
        <div id="your-game-list-container">
        {% for g in games %}
            <div class="game-link text-background">
            
                <div class="your-game-list-element" style="float:left;width:100%">{{ g.name }}</div>

                <div class="your-game-list-element" style="float:left;padding-right:10px;"><a href="/gallery/add_game_pic/{{ g.id }}"><button>Add Screenshot</button></a></div> 
                               
                <div class="your-game-list-element" style="float:left;padding-right:10px;"><a href="/runs/edit/{{ g.id }}"><button>Edit</button></a></div>
                
                <div class="your-game-list-element" style="float:left;padding-right:10px;"><a href="/runs/add_game_dev/{{ g.id }}"><button>Add Collaborator/Developer</button></a></div>
            </div>
            
        {% endfor %}
        </div>
        <a href="/runs/register/"><button>Register Game</button></a>
    </div>
</div>

{% endblock %}
