{% extends "single_page.html" %} 


{% block text_head %}<div id="profile-text"></div>{% endblock %}

{% block page %}


<div id="profile-container" class="single-page-container">

    <div id="profile-top-bar">
        <div id="profile-top-text">
            <h2>Profile information</h2> 
        </div>      
        <div id="profile-logout">
            <a href="/members/logout"><button>Log out</button></a>  
        </div>
    </div>
    
    <div id="profile-info-container">
        <table cellspacing="700">
            <tr>
                <td>First Name:</td>
                <td>&nbsp;{{ user.first_name }}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>&nbsp;{{ user.last_name }}</td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>&nbsp;{{ user.username }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>&nbsp;{{ user.email }}</td>
            </tr>
            <tr>
                <td>About:</td>
                <td>&nbsp;{{ profile.about }}</td>
            </tr>
        </table>
    </div>
    
    <div id="profile-picture" class="profile-column">
            &nbsp;
    </div>
    

    
    <div>
        <a href="/members/edit_member/"><button>Edit profile</button></a>
    </div>

    <div id="your-games-container">
        <h2>Your games</h2></br>

        {% for g in games %}
            <a href="/runs/{{ g.id }}">  {{ g.name }} </a></br>
        {% endfor %}
        
        </br><a href="/runs/register/"><button>Register Game</button></a></br>
    </div>
</div>

{% endblock %}
