.game-column
{
    float:left;
    height:150px;
    padding-right:30px;

}
.game-row
{
    padding-bottom:20px;
    
}
#game-text
{
	margin-top: 80px;
	width: 400px; 
	height: 80px; 
	background-image: url(../images/game-text.png); 
}
#game-icon
{
    background:black;
    width:100px;
}
#game-top-bar
{
    height:40px;
    padding-bottom:40px;
}
#game-title
{
    float:left;
}
#game-info
{
    width:250px;
    padding-right:50px;
    height:250px;
}
#game-info-container
{
    height:250px;
    padding-bottom:10px;
}
#game-desc
{
    overflow-y:scroll;
    height:150px;
}
#game-tags
{
   
}
#single-game-container
{
    height:500px;

}
#game_list_container
{
    width:800px;
    height:100%;
    margin-right:auto;
	margin-left:auto;
}
.game-in-list-container
{
    margin-bottom:30px;
    width:760px;
    height:200px;
    overflow:visible;

}
.game-short-container:hover
{
    cursor:pointer;
}

.game-icon
{
    width:200px;
    height:200px;
    float:left;
    background-image:url(../images/default-game-icon.png);
}
.game-short-text-container
{
    width:540px;
    height:200px;
    padding-left:20px;
    float:left;
}
.game-title
{
    font-size:40px;
    text-align:left;
    vertical-align:top;
    margin-bottom:20px;
    width:520px;
    height:48px;
    overflow:hidden;
}
.game-short-desc
{
    width:520px;
    height:110px;
    overflow:hidden;
    font-size:20px;
}
.game-short-container
{
    width:760px;
    height:200px;
}
.game-long-container
{
    width:760px;
    height:auto;
    margin-top:20px;
    display:none;
}
.game-devs-container
{
    width:200px;
    height:auto;
    float:left;
    margin-right:20px;
    display:table-row;
}
.game-long-desc
{
    width:520px;
    height:auto;
    float:left;
    display:table-row;
    font-size:14px;
    font-weight:normal;

}

.game-long-desc b
{
    font-size: 14px;
}
.game-long-desc strong
{
    font-size: 14px;
}
.game-long-desc p
{
    font-size: 14px;
}
.game-long-desc i
{
    font-size: 14px;
}
.game-long-desc h3
{
    font-size: 22px;
}
.game-long-desc h2
{
    font-size: 25px;
}
.game-long-desc h1
{
    font-size: 30px;
}


.dev-container
{
    width:180px;
    height:auto;
    margin-bottom:10px;
    margin-top:10px;
    font-size:12px;
}
.dev-info
{

    padding-left:5px;
    padding-right:5px;
}
.dev-name
{
    font-size:16px;
}
.dev-role
{
    font-size:12px;
}
.dev-about
{
    font-size:8px;
}
.dev-separator
{
    width:100px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:20px;
    margin-top:20px;
    height:1px;

}
.your-game-list-element
{
    font-size:26px;
}

.game-link
{
    margin-top:10px;
    margin-bottom:20px;
    height:80px;
    width:780px;
}
#existing-devs-container
{
    width:100%;
    height:auto;
    margin-bottom:30px;
}
.existing-devs
{
    width:100%;
    height:25px;
}
.existing-devs-username
{
    float:left;
    font-size:15px;
    width:33%;
}
.existing-devs-full-name
{
    float:left;
    font-size:15px;
    width:33%;
    text-align:center;
}
.existing-devs-role
{
    float:right;
    font-size:15px;
    width:33%;
    text-align:right;
}
.dev-long-container
{
    height:auto;
    width:760px;
    display:table;
}







