.game-column
{
    float:left;
    height:150px;
    padding-right:30px;

}
.game-row
{
    padding-bottom:20px;
    
}
#game-text
{
	margin-top: 80px;
	width: 400px; 
	height: 80px; 
	background-image: url(../images/game-text.png); 
}
#game-icon
{
    background:black;
    width:100px;
}
#game-top-bar
{
    height:40px;
    padding-bottom:40px;
}
#game-title
{
    float:left;
}
#game-info
{
    width:250px;
    padding-right:50px;
    height:250px;
}
#game-info-container
{
    height:250px;
    padding-bottom:10px;
}
#game-desc
{
    overflow-y:scroll;
    height:150px;
}
#game-tags
{
   
}
#single-game-container
{
    height:500px;

}
#game_list_container
{
    width:800px;
    height:100%;
    margin-right:auto;
	margin-left:auto;
}
.game-in-list-container
{
    margin-bottom:30px;
    width:760px;
    height:200px;
    overflow:hidden;

}
/*.game-in-list-container:hover
{
    height:800px;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s;
}*/

.game-icon
{
    width:200px;
    height:200px;
    float:left;
    background:black;
}
.game-short-text-container
{
    width:540px;
    height:200px;
    padding-left:20px;
    float:left;
}
.game-title
{
    font-size:40px;
    text-align:left;
    vertical-align:top;
    margin-bottom:20px;
    width:520px;
    height:60px;
    overflow:hidden;
}
.game-short-desc
{
    width:520px;
    height:100px;
    overflow:hidden;
    font-size:20px;
}
.game-short-container
{
    width:760px;
    height:200px;
    float:top;
}
.game-long-container
{
    width:760px;
    height:auto;
    float:left;
    margin-top:20px;
}
.game-devs-container
{
    width:200px;
    height:auto;
    float:left;
    margin-right:20px;
}
.game-long-desc
{
    width:520px;
    height:100%;
    float:left;

}
.dev-container
{
    width:180px;
    height:auto;
    margin-bottom:10px;
    margin-top:10px;
    font-size:12px;
}
.dev-info
{
    font-size:12px;
    padding-left:5px;
    padding-right:5px;
}
.dev-separator
{
    width:100px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:20px;
    margin-top:20px;
    height:1px;

}
.your-game-list-element
{
    
}

.game-link
{
    margin-top:10px;
    margin-bottom:20px;
    height:45px;
    width:100%;
}
