/* PROFILE */


#profile-text
{
	margin-top: 80px;
	margin-bottom: 80px;
	width: 800px; 
	height:80px;
	margin-right:auto;
	margin-left:auto;
	background-image: url(../images/profile-text.png); 
}
#profile-top-bar
{
    height:73px;;
    padding-bottom:20px;
}
.profile-column
{
    float:left;
    height:150px;
    padding-right:0px;

}

#profile-picture
{
    background:black;
    width:200px;
    height:200px;
    vertical-align:middle;
}

#profile-logout
{
    float:right;
}
#profile-top-text
{
    float:left;
    width:auto;
}
#profile-info
{
    width:250px;
    padding-right:50px;
    overflow:auto;
    height:250px;
}

#profile-info-container
{
    position:relative;
    height:100%;
    float:left;
    width:100%;
    padding-bottom:20px;
}
#your-games-container
{
    padding-top:20px;
}



#login-text
{
	margin-top: 80px;
	margin-bottom: 80px;
	width: 800px; 
	height: 80px;
	margin-right:auto;
	margin-left:auto;
	background-image: url(../images/log-in-text.png); 
}
#register-member-text
{
	margin-top: 80px;
	margin-bottom: 80px;
	width: 800px; 
	height: 80px;
	margin-right:auto;
	margin-left:auto;
	background-image: url(../images/register-member-text.png); 
}
#register-game-text
{
	margin-top: 80px;
	margin-bottom: 80px;
	width: 800px; 
	height: 80px;
	margin-right:auto;
	margin-left:auto;
	background-image: url(../images/register-game-text.png); 
}
.profile-info-table
{
    border-collapse:separate;   
    border-spacing: 20px;      
   /* padding:5px 15px 5px 15px; */
    width:100%;
    float:left;
    margin-right:20px;

}
.profile-info-table td
{

   


}
.profile-info-table tr
{

}
#edit-profile-button
{
    
}
#your-games-title
{
    width:200px;
}
#your-game-list-container
{
    margin-top:20px;
    margin-bottom:20px;
}


