/*
	 CSS-Tricks Example - MagicLine Demo
	 by Chris Coyier
	 http://css-tricks.com
*/
header {
	padding: 100px 0 0 0;
	display: block;
}
header h1 {
	width: 960px;
	margin: 0 auto;
}
a {
	color: #eee;
}
a:hover {
	color: white;
}
.nav-wrap {
	z-index: 1337;
	position: fixed;
	width: 100%;
	background: #222222;
	padding-left: 370px; 
}
/* Clearfix */
.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
*:first-child + html .group {
	zoom: 1;
	-webkit-margin-before: 0;
 	-webkit-margin-after: 0;
}
/* IE7 */
/* Example One */
#nav-elements {
	margin: 0 auto;
	list-style: none;
	position: relative;
}
#nav-elements li {
	display: inline-block;
}
#nav-elements a {
	font-family: 'Titillium Web', 'Trebuchet MS', sans-serif;
	font-weight: 700;
	font-size: 25px;
	color: #9ECE69;
	float: left;
	padding: 6px 10px 4px 10px;
	text-decoration: none;
}
#magic-line {
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 100px;
	height: 4px;
	background: #BED1A9;
}
.current_page_item a {
	color: #DAE6CC;
}
.ie6 #nav-elements li, .ie7 #nav-elements li {
	display: inline;
}
.ie6 #magic-line {
	bottom: -3px;
}
