* {
	margin: 0;
	padding: 0;
}
body {
	background: black;	
}

.behind-trail
{
	left: 0px;
	top: 0px;
	position: absolute;
	width: 396px; 
	height: 602px; 
	background-image: url(../images/behind-trail.png); 
	background-repeat: no-repeat; 
}

.nga-logo
{
	z-index: 1338;
	left: -30px;
	top: -10px;
	position: absolute;
	width: 350px; 
	height: 361px; 
	background-image: url(../images/nga-logo.png); 
	background-repeat: no-repeat; 
}


.home-container
{
height: 600px;
	background-image:url('../images/bg-rep-light.png');
	background-color:#333;
	padding-top: 40px;
	padding-bottom: 80px;
}
.events-container
{
height: 600px;
	background-image:url('../images/bg-rep-dark.png');
	background-color: #89C559;
	padding-top: 80px;
	padding-bottom: 80px;
}
.get-started-container
{	
height: 600px;
	background-image:url('../images/bg-rep-light.png');
	background-color: #333;
	padding-top: 80px;
	padding-bottom: 80px;
}
.participants-container
{
height: 600px;
	background-image:url('../images/bg-rep-dark.png');
	background-color: #89C559;
	padding-top: 80px;
	padding-bottom: 80px;
}
.contact-us-container
{
height: 600px;
	background-image:url('../images/bg-rep-light.png');
	background-color:#333;
	padding-top: 80px;
}


/*PICTURES*/
.picture-center
{
	margin-left:auto;
	margin-right:auto;
	display: block;
	margin-bottom: 20px;
	background-repeat: no-repeat; 
}
#events-text
{
	width: 361px; 
	height: 80px; 
	background-image: url(../images/events-text.png); 
}
#get-started-text
{
	width: 644px; 
	height: 80px; 
	background-image: url(../images/get-started-text.png); 
}
#participants-text
{
	width: 680px; 
	height: 80px; 
	background-image: url(../images/participants-text.png);  
}
#contact-us-text
{
	width: 592px; 
	height: 80px; 
	background-image: url(../images/contact-us-text.png);  
}