* {
	margin: 0;
	padding: 0;
	border: 0px;
	border-spacing: 0px;
	font-family: 'Titillium Web', 'Trebuchet MS', sans-serif; 
    font-weight: normal; 
    font-size:26px;
}
body {
	background: black;	
}

a{
	cursor: pointer;
	color:teal;
	text-decoration:none;
}

p{

}

button{
    cursor: pointer;
    padding: 3px 6px 3px 6px;
}

input{
    cursor: pointer;
    padding: 3px 6px 3px 6px;
}

h2{
    font-size:35px;
    font-weight:900;
}

footer{
    background: #222;
	width: 100%; 
	height: 140px;
	color:white;
	text-align:center;
	padding-top:10px;
    font-size:12px;
	bottom:0px;
}
.logo-back
{
	left: 10%;
	top: 40px;
	z-index: 100;
	position: absolute;
	width: 550px; 
	height: 600px; 
	background-image: url(../images/logo-back.png); 
	background-repeat: no-repeat; 
}
.nga-logo
{
	z-index: 1330;
	left: 0px;
	top: 30px;
	position: absolute;
	width: 330px; 
	height: 340px; 
	background-image: url(../images/nga-logo.png); 
	background-repeat: no-repeat; 
}

.nga-logo-container
{
	vertical-align: top;
	background: #222;
	width: 50%;
}

.bg-behind-logo
{
	z-index: 100;
	left: 0px;
	top: 0px;
	position: absolute;
	width: 90px; 
	height: 720px; 
	background-image: url(../images/bg-behind-logo.png); 
	background-repeat: no-repeat; 

}

.partners
{
	z-index: 2000;
	width: 120px;
	height: 60px;
	position: absolute;
	display: block;
	background: url(../images/partners-logo.png) no-repeat;
	overflow: hidden;
}

.nt-logo{background-position:0px 0px; top: 400px}
.nt-logo:hover{background-position:0px -60px}

.arm-logo{background-position:-120px 0px; top: 480px}
.arm-logo:hover{background-position:-120px -60px}

.start-logo{background-position:-240px 0px; top: 560px}
.start-logo:hover{background-position:-240px -60px}


.temp
{
    background:gray
}

.black-container
{
	height: auto;
	background-image:url('../images/bg-rep-light.png');
	background-color:#333;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden; 
	color:white;
	margin-left:auto;
	margin-right:auto;
	vertical-align:middle;
	width:800px;
}

.round-and-shadow
{
	/* rounded corners */

    -moz-border-radius: 10px;

    -webkit-border-radius: 10px;

    border-radius: 10px;

    /* add box shadows */

    -moz-box-shadow: 15px 15px 20px rgba(0,0,0,0.3);

    -webkit-box-shadow: 15px 15px 20px rgba(0,0,0,0.3);

    box-shadow: 15px 15px 20px rgba(0,0,0,0.3);
}
	
.black-border
{	
-moz-box-shadow:0px 0px 0px 15px #222;
-webkit-box-shadow:0px 0px 0px 15px #222;
box-shadow:0px 0px 0px 15px #222;
}

.green-container
{
    width:100%;
	height: auto;
	vertical-align: top;
	background-image:url('../images/bg-rep-dark.png');
	background-color: #89C559;
	margin-left:auto;
	margin-right:auto;
	overflow: hidden; 
	padding-bottom:30px;
	
}

.green-div
{
    padding-top: 100px;
    padding-bottom: 100px;
}

.table-center
{
    vertical-align:top;
    width:01%;
	height: auto;
    margin-left:auto;
    margin-right:auto;
	background-color:black;
	overflow: hidden; 
	padding-top: 140px;
}

#footer-div
{
    width:800px;
    height:120px;
}
.single-footer-button
{
    width:120px;
    height:120px;
    padding-left:40px;
    padding-right:0px;
    float:left;
}


.single-page-container
{
    padding-left:30px;
    padding-right:30px;
    height:100%;
}


.footer-text
{
    font-size: 10px; 
    width:250px;
}

#footer-text-container
{
    font-size: 12px; 
    height:120px;
    width: 250px;
    float:left;

}
#footer-buttons
{
    height:120px;
    width:480px;
    padding-left:70px;

    float:left;
}

#home-container
{
	height: auto;
	background-image:url('../images/bg-rep-light.png');
	background-color:#333;
	padding-top: 40px;
	padding-bottom: 20px;
	overflow: hidden; 
}
#events-container
{
	height: auto;top
	vertical-align: top;
	background-image:url('../images/bg-rep-dark.png');
	background-color: #89C559;
	padding-top: 80px;
	overflow: hidden; 
}
#get-started-container
{	
	height: auto;
	vertical-align: top;
	background-image:url('../images/bg-rep-light.png');
	background-color: #333;
	padding-top: 80px;
	padding-bottom: 80px;
	overflow: hidden; 
}
#participants-container
{
	height: auto;
	vertical-align: top;
	background-image:url('../images/bg-rep-dark.png');
	background-color: #89C559;
	overflow: hidden; 

}
#contact-us-container
{
	height: 600px;
	vertical-align: top;
	background-image:url('../images/bg-rep-light.png');
	background-color:#333;
	padding-top: 80px;
	padding-bottom: 0px;
	overflow: hidden; 

}
#guides-container
{
	height: auto;
	vertical-align: top;
	background-image:url('../images/bg-rep-dark.png');
	background-color: #89C559;
	overflow: hidden; 

}
.hidden-submit-container
{
	height: 300px;
	background-image:url('../images/bg-rep-dark.png');
	background-color: #89C559;
	overflow: hidden; 
	display: none;

}


/*TOP TEXT*/
.picture-center
{
	margin-left:auto;
	margin-right:auto;
	display: block;
	margin-bottom: 20px;
	background-repeat: no-repeat; 
}
#events-text
{
	margin-top: 80px;
	width: 361px; 
	height: 80px; 
	background-image: url(../images/events-text.png); 
}
#get-started-text
{
	margin-top: 80px;
	margin-bottom: 40px;
	width: 644px; 
	height: 80px; 
	background-image: url(../images/get-started-text.png); 
}
#participants-text
{
	margin-top: 80px;
	margin-bottom: 40px;
	width: 318px; 
	height: 80px; 
	background-image: url(../images/participants-text.png);  
}
#contact-us-text
{
	margin-top: 80px;
	margin-bottom: 40px;
	width: 592px; 
	height: 80px;
	background-image: url(../images/contact-us-text.png);  
}
#submit-game-text
{
	margin-top: 20px;
	width: 367px; 
	height: 45px; 
	background-image: url(../images/submit-game-text.png);  
}
#rules-text
{
	margin-top: 80px;
	width: 367px; 
	height: 80px; 
	background-image: url(../images/rules-text.png);  
}
#categories-text
{
	margin-top: 80px;
	width: 600px; 
	height: 80px; 
	background-image: url(../images/categories-text.png);  
}
#faq-text
{
	margin-top: 80px;
	width: 200px; 
	height: 80px; 
	background-image: url(../images/faq-text.png);  
}
#organizers-text
{
	margin-top: 80px;
	margin-bottom: 80px;
	width: 800px; 
	height: 80px;
	margin-right:auto;
	margin-left:auto;
	background-image: url(../images/organizers-text.png); 
}
#guides-text
{
	margin-top: 80px;
	margin-bottom: 80px;
	width: 800px; 
	height: 80px;
	margin-right:auto;
	margin-left:auto;
	background-image: url(../images/guides-text.png); 
}


.contact-button-footer
{
	width: 120px;
	height: 120px;
	display: block;
	background: url(../images/slider/contact-button-sprite.png) no-repeat;
	overflow: hidden;
}
