* {
	margin: 0;
	padding: 0;
	border: 0px;
	border-spacing: 0px;
}
body {
	background: black;	
}

a{
	cursor: pointer;
}

.logo-back
{
	left: 10%;
	top: 40px;
	z-index: 100;
	position: absolute;
	width: 550px; 
	height: 600px; 
	background-image: url(../images/logo-back.png); 
	background-repeat: no-repeat; 
}
.nga-logo
{
	z-index: 1338;
	left: 0px;
	top: 30px;
	position: absolute;
	width: 330px; 
	height: 340px; 
	background-image: url(../images/nga-logo.png); 
	background-repeat: no-repeat; 
}

.nga-logo-container
{
	vertical-align: top;
	background: #222;
	width: 50%;
}

.bg-behind-logo
{
	z-index: 100;
	left: 0px;
	top: 0px;
	position: absolute;
	width: 90px; 
	height: 720px; 
	background-image: url(../images/bg-behind-logo.png); 
	background-repeat: no-repeat; 

}

.partners
{
	z-index: 2000;
	width: 120px;
	height: 60px;
	position: absolute;
	display: block;
	background: url(../images/partners-logo.png) no-repeat;
	overflow: hidden;
}

.nt-logo{background-position:0px 0px; top: 400px}
.nt-logo:hover{background-position:0px -60px}

.arm-logo{background-position:-120px 0px; top: 480px}
.arm-logo:hover{background-position:-120px -60px}

.start-logo{background-position:-240px 0px; top: 560px}
.start-logo:hover{background-position:-240px -60px}


.temp
{
    background:gray
}

.black-container
{
	height: auto;
	background-image:url('../images/bg-rep-light.png');
	background-color:#333;
	padding-top: 40px;
	padding-bottom: 20px;
	overflow: hidden; 
}

.green-container
{
	height: auto;
	vertical-align: top;
	margin-left:auto;
    margin-right:auto;
	background-image:url('../images/bg-rep-dark.png');
	background-color: #89C559;
	padding-top: 80px;
	overflow: hidden; 
}

.table-center
{
    vertical-align:middle;
    width:01%;
	height: auto;
    margin-left:auto;
    margin-right:auto;
	background-color:black;
	overflow: hidden; 
	padding-top: 140px;
}



#home-container
{
	height: auto;
	background-image:url('../images/bg-rep-light.png');
	background-color:#333;
	padding-top: 40px;
	padding-bottom: 20px;
	overflow: hidden; 
}
#events-container
{
	height: auto;
	vertical-align: top;
	background-image:url('../images/bg-rep-dark.png');
	background-color: #89C559;
	padding-top: 80px;
	overflow: hidden; 
}
#get-started-container
{	
	height: auto;
	vertical-align: top;
	background-image:url('../images/bg-rep-light.png');
	background-color: #333;
	padding-top: 80px;
	padding-bottom: 80px;
	overflow: hidden; 
}
#participants-container
{
	height: auto;
	vertical-align: top;
	background-image:url('../images/bg-rep-dark.png');
	background-color: #89C559;
	overflow: hidden; 

}
#contact-us-container
{
	height: 600px;
	vertical-align: top;
	background-image:url('../images/bg-rep-light.png');
	background-color:#333;
	padding-top: 80px;
	padding-bottom: 0px;
	overflow: hidden; 

}
.hidden-submit-container
{
	height: 300px;
	background-image:url('../images/bg-rep-dark.png');
	background-color: #89C559;
	overflow: hidden; 
	display: none;

}


/*TOP TEXT*/
.picture-center
{
	margin-left:auto;
	margin-right:auto;
	display: block;
	margin-bottom: 20px;
	background-repeat: no-repeat; 
}
#events-text
{
	margin-top: 80px;
	width: 361px; 
	height: 80px; 
	background-image: url(../images/events-text.png); 
}
#get-started-text
{
	margin-top: 80px;
	margin-bottom: 40px;
	width: 644px; 
	height: 80px; 
	background-image: url(../images/get-started-text.png); 
}
#participants-text
{
	margin-top: 80px;
	margin-bottom: 40px;
	width: 318px; 
	height: 80px; 
	background-image: url(../images/participants-text.png);  
}
#contact-us-text
{
	margin-top: 80px;
	margin-bottom: 40px;
	width: 592px; 
	height: 80px;
	background-image: url(../images/contact-us-text.png);  
}
#submit-game-text
{
	margin-top: 20px;
	width: 367px; 
	height: 45px; 
	background-image: url(../images/submit-game-text.png);  
}
