{% extends "template.html" %}

{% block template_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/info.css" />
    <script src="{{ STATIC_URL }}js/nav.control.js"></script>
{% endblock %}

{% block template_nav %}

<li class="current_page_item"><a id="btnFirst"    href="#second-container">    FAQ</a></li>
<li><a id="btnSecond"   href="#third-container">   RULES</a></li>
<li><a id="btnThird"    href="#fourth-container">    CATEGORIES</a></li>
<li><a id="btnFourth"   href="#fifth-container">   ORGANIZERS</a></li>
<li><a id="btnFifth"    href="#guides-container">    GUIDES</a></li>

{% endblock %}	



{% block first_container %}{% endblock %}


{% block second %}
<div class="picture-center" id="faq-text"></div>
<div style="color: black;">
    {{ faq.text|safe }}
</div>
{% endblock %}	



{% block third %}
<div class="picture-center" id="rules-text"></div>
<div style="color: white;">
    {{ rules.text|safe }}
</div>
{% endblock %}



{% block fourth %}
<div class="picture-center" id="categories-text"></div>
    {{ categories.text|safe }}
{% endblock %}


{% block fifth %}
<div class="picture-center" id="organizers-text"></div>
<div id="organizer-content" style="color:black; height:auto; padding-bottom:30px;">
    {{ organizers.text|safe }}
</div>
{% endblock %}



{% block template_content_table %}

<tr id="guides-container">
        <td style="width: 50%">&nbsp;</td>
		<td style="width: 800px; height: 300px">
		    <!--INSERT TEXT-->
		    <div class="picture-center" id="guides-text"></div>
		        <div style="text-align:center">
		            {{ guides.text|safe }}
		        </div>
		    <!--END INSERT TEXT-->
		</td>
		<td style="width: 50%">&nbsp;</td>
	</tr>

{% endblock %}

