{% extends "single_page.html" %}

{% block text_head %}<div id="register-game-text"></div>{% endblock %}

{% block page %}

<div id="register-game-container" class="single-page-container">
    <form action="" method="post">
    {% csrf_token %}
    {% for e in form.errors %}
        <p>{{ e }}</p>
    {% endfor %}

        <div class="register_div">
                <p><label for="name"{% if form.name.errors %} class="error"{% endif %}>Title:</label></p>
                <p>
                    {{ form.name }}
                    <script>
		                var nameValidation = new LiveValidation('id_name', { validMessage: 'Accepted', wait: 500});
		                nameValidation.add(Validate.Presence, {failureMessage: "Required"});
		                nameValidation.add( Validate.Length, { minimum: 1, maximum: 100 } );
		            </script>  
                </p>
        </div>
        </br>
        <div class="register_div">
                <p><label for="team"{% if form.team.errors %} class="error"{% endif %}>Team:</label></p>
                <p>
                    {{ form.team }}
                    <script>
		                var nameValidation = new LiveValidation('id_team', { validMessage: 'Accepted', wait: 500});
		                nameValidation.add(Validate.Presence, {failureMessage: "Required"});
		                nameValidation.add( Validate.Length, { minimum: 1, maximum: 100 } );
		            </script>  
               </p>

        </div>
        </br>
        <div class="register_div">
                <p><label for="short_desc"{% if form.short_desc.errors %} class="error"{% endif %}>Short Description:</label></p>
                <p>
                    {{ form.short_desc }}
                    
                </p>
                <p>
                    <script>
		                var nameValidation = new LiveValidation('id_short_desc', { validMessage: 'Accepted', wait: 500});
		                nameValidation.add(Validate.Presence, {failureMessage: "Required"});
		                nameValidation.add( Validate.Length, { minimum: 1, maximum: 170 } );
		            </script>  
                </p>
        </div>
        <div class="register_div">
                <p><label for="description"{% if form.description.errors %} class="error"{% endif %}>Long Description:</label></p>
                <p>
                    {{ form.description }}
                    
                </p>
                <p>
                    <script>
		                var nameValidation = new LiveValidation('id_description', { validMessage: 'Accepted', wait: 500});
		                nameValidation.add(Validate.Presence, {failureMessage: "Required"});
		                nameValidation.add( Validate.Length, { minimum: 100, maximum: 2000 } );
		            </script>  
                </p>
        </div>
        </br>
        
        <p><input type="submit" alt="register" /></p>
        {{ ayah_html|safe }}
    </form>
</div>
{% endblock %}
