{% extends "single_page.html" %}

{% block content_table %}

<div style="width:100%;padding-top:40px">
	<div class="green-container">
	    <div id="games-text"></div>
	    <div id="game_list_container">
            {% if games %}
                {% for game in games %}
                <div id="game_{{ game.id }}" class="black-container round-and-shadow game-in-list-container">
                    <div class="game-short-container">
                        <div class="game-icon"></div>
                        <div class="game-short-text-container">
                            <div class="game-title inner-shadow">
                                {{ game.name }}
                            </div>
                            
                            <div class="game-short-desc inner-shadow">
                                {{ game.short_desc }}
                            </div>
                        </div>
                    </div>
                    <div class="game-long-container">
                    
                        <div class="game-devs-container">
                            {{ devs }}
                        </div>
                        
                        <div class="game-long-desc inner-shadow">
                            {{ game.description }}
                        </div>
                    
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>
                    There are no games here :(
                </p>
            {% endif %}
        </div>
    </div>
</div>   
{% endblock %}
