{% extends "base.html" %}
{% block content %}
<form action="" method="post">
{% csrf_token %}
{% if form.errors %}<p>Please correct the following fields:</p>{% endif %}
<div class="register_div">
        {% if form.name.errors %}<p class="error">{{ form.name.errors }}</p>{% endif %}
        <p><label for="name"{% if form.name.errors %} class="error"{% endif %}>Name:</label></p>
        <p>{{ form.name }}</p>
</div>
<div class="register_div">
        {% if form.team.errors %}<p class="error">{{ form.team.errors }}</p>{% endif %}
        <p><label for="team"{% if form.team.errors %} class="error"{% endif %}>Team:</label></p>
        <p>{{ form.team }}</p>
</div>
<div class="register_div">
        {% if form.description.errors %}<p class="error">{{ form.description.errors }}</p>{% endif %}
        <p><label for="description"{% if form.description.errors %} class="error"{% endif %}>Description:</label></p>
        <p>{{ form.password }}</p>
</div>
<div class="register_div">
        {% if form.icon.errors %}<p class="error">{{ form.icon.errors }}</p>{% endif %}
        <p><label for="icon"{% if form.icon.errors %} class="error"{% endif %}>Icon:</label></p>
        <p>{{ form.icon }}</p>
</div>
<p><input type="submit" alt="register" /></p>
</form>
{% endblock %}
