{% extends "template.html" %}


{% block template_nav %}

<li class="current_page_item"><a id="btnFirst" href="#second-container">GAMES</a></li>
<li><a id="btnSecond"   href="#third-container">IMAGES</a></li>
<li><a id="btnThird"    href="#fourth-container">VIDEOS</a></li>
<li><a id="btnFourth"   href="#fifth-container">DEVELOPERS</a></li>

{% endblock %}  

{% block first_container %}<div style="height:50px;width:100%"></div>{% endblock %}

{% block second %}
<div class="headline">GAMES</div>

<div class="container" id="big-game"></div>
<div class="container" id="small-games">
    {% if games %}
        {% for game in games %}
        <div id="game_{{ game.id }}" game="{{game.id}}" class="pull-left game">
            <div class="container">
                <div class="col-lg-12">
                   {% if game.get_icon %}
                        <img src="{{ game.get_icon.image.url }}" width="200" height="200" />
                    {% else %}
                         <img src="http://placehold.it/200x200" width="200" height="200" />
                    {% endif %}
                </div>
                <div class="col-lg-12 title">
                    {{ game.name }}
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>
            There are no games here :(
        </p>
    {% endif %}
</div>
<div style="height:50px;width:100%"></div>

<script>
$(function() {
    $(".game").click(function() {
        var $game = $(this),
            id = $game.attr("game");
        $("#big-game")
            .load("/runs/game/"+id+"/")
            .show(100);
    })
});
</script>
{% endblock %}

{% block third %}
<div class="headline">IMAGES</div>
{% endblock %}

{% block fourth %}
<div class="headline">VIDEOS</div>
{% endblock %}