{% if games %}
<div class="container" style="display:table">
    <div style="display:table-row">
    {% for g in games %}

        <div class="game col-xs-4" game="{{g.id}}" style="display:table-cell">
            <div class="clearfix">
                <div class="col-xs-4">
                   <img style="max-width: 100%; max-height:100%" src="{{ g.get_icon.image.url }}" />
                </div>
                <div class="col-xs-8">
                    <div class="game-title">
                        {{ g.name }}
                    </div>
                    <div class="game-desc">
                        {{ g.short_desc }}
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
    </div>
</div>
{% else %}
    <p>
        There are no games here :(
    </p>
{% endif %}