{% extends "base.html" %}

{% block body %}
    <!--NAV MENU-->
    <div class="nav-wrap">
        <ul class="group" id="nav-elements">
            <li class="current_page_item">  <a id="btnHome" href="#home">HOME</a></li>
            <li id="btnEvents"><a href="#events">EVENTS</a></li>
            <li><a id="btnGetStarted" href="#getStarted">GET STARTED</a></li>
            <li><a id="btnParticipants" href="#participants">PARTICIPANTS</a></li>
            <li><a id="btnContactUs" href="#contactUs">CONTACT US</a></li>
		</ul>
	</div>
	<!--NAV MENU END-->
	
    <div class="nga-logo"></div>
    <div class="behind-trail"></div>
		
    <div id="content">
        <div id="home">
            <div class="home-container">
					
            </div>
        </div>
        <div id="events">
            <div class="events-container">
                <div class="picture-center" id="events-text"></div>
            </div>
        </div>
        <div id="getStarted">
            <div class="get-started-container">
                <div class="picture-center" id="get-started-text"></div>
            </div>
        </div>
        <div id="participants">
            <div class="participants-container">
                <div class="picture-center" id="participants-text"></div>
            </div>
        </div>
        <div id="contactUs">
            <div class="contact-us-container">
                <div class="picture-center" id="contact-us-text"></div>
            </div>
        </div>
    </div>

        
{% endblock %}




<!--


<h1>This is the index page! Welcome!</h1>
{% for post in newspost_list %}
    <h2>
        <a href="/news/{{post.id}}">{{ post.title }}</a>
    </h2>
    <p>
        {{ post.pub_date }}
    </p>
    <p>
        {{ post.content|safe }}
    </p>
{% endfor %}-->
