{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/royalslider.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}royalslider/royalslider/default/rs-default.css" />
<script src="{{ STATIC_URL }}js/jquery.royalslider.custom.min.js"></script>
{% endblock %}

{% block body %}
    <!--NAV MENU-->
    <div class="nav-wrap">
        <ul class="group" id="nav-elements">
            <li class="current_page_item">  <a id="btnHome" href="#home">HOME</a></li>
            <li id="btnEvents"><a href="#events">EVENTS</a></li>
            <li><a id="btnGetStarted" href="#getStarted">GET STARTED</a></li>
            <li><a id="btnParticipants" href="#participants">PARTICIPANTS</a></li>
            <li><a id="btnContactUs" href="#contactUs">CONTACT US</a></li>
		</ul>
	</div>
	<!--NAV MENU END-->
	
    <div class="nga-logo"></div>
    <div class="behind-trail"></div>
		
    <div id="content">
        <div id="home">
            <div class="home-container">
                <!--IMAGE SLIDER-->
				<div id="home-slider" class="royalSlider heroSlider rsMinW">
                    <!--SLIDE 1-->
                    <div class="rsContent">
                    <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="200" data-delay="100" data-speed="500" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 42px; left: 340px;"src="{{ STATIC_URL }}images/slider/nga-text-1.png"/></div>
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="200" data-delay="300" data-speed="500" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 86px; left: 340px;"src="{{ STATIC_URL }}images/slider/nga-text-2.png"/></div>
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="200" data-delay="500" data-speed="500" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 179px; left: 340px;"src="{{ STATIC_URL }}images/slider/nga-text-3.png"/></div>
                  </div>
                  
                <!--SLIDE 2-->

                  <div class="rsContent">
                    <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="100" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 280px;"src="{{ STATIC_URL }}images/slider/create-icon.png"/></div>
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="250" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 160px; left: 521px;"src="{{ STATIC_URL }}images/slider/arrows.png"/></div>
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="400" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 631px;"src="{{ STATIC_URL }}images/slider/submit-icon.png"/></div>
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="550" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 160px; left: 863px;"src="{{ STATIC_URL }}images/slider/arrows.png"/></div>
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="700" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 976px;"src="{{ STATIC_URL }}images/slider/win-icon.png"/></div>
                  </div>
                  
                <!--SLIDE 3-->

                  <div class="rsContent">
                    <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="100" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 708px;"src="{{ STATIC_URL }}images/slider/crew0001.png"/></div>
	
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="150" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 858px;"src="{{ STATIC_URL }}images/slider/crew0002.png"/></div>
	
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="200" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 340px;"src="{{ STATIC_URL }}images/slider/crew0003.png" class="style1"/></div>
	
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="250" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 947px;"src="{{ STATIC_URL }}images/slider/crew0004.png"/></div>
	
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="300" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 789px;"src="{{ STATIC_URL }}images/slider/crew0005.png" class="style1"/></div>
	
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="350" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 421px;"src="{{ STATIC_URL }}images/slider/crew0006.png" class="style1"/></div>
	
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="400" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 607px;"src="{{ STATIC_URL }}images/slider/crew0007.png"/></div>
	
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="450" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 1041px;"src="{{ STATIC_URL }}images/slider/crew0008.png"/></div>
	
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="500" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 524px;"src="{{ STATIC_URL }}images/slider/crew0009.png"/></div>
	
                  </div>

                <!--SLIDE 4-->

                  <div class="rsContent">
                    <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="100" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 280px;"src="{{ STATIC_URL }}images/slider/create-icon.png"/></div>
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="250" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 160px; left: 521px;"src="{{ STATIC_URL }}images/slider/arrows.png"/></div>
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="400" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 631px;"src="{{ STATIC_URL }}images/slider/submit-icon.png"/></div>
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="550" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 160px; left: 863px;"src="{{ STATIC_URL }}images/slider/arrows.png"/></div>
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="700" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 976px;"src="{{ STATIC_URL }}images/slider/win-icon.png"/></div>
                  </div>

                <!--SLIDE 5-->

                  <div class="rsContent">
                    <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="100" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 280px;"src="{{ STATIC_URL }}images/slider/create-icon.png"/></div>
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="250" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 160px; left: 521px;"src="{{ STATIC_URL }}images/slider/arrows.png"/></div>
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="400" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 631px;"src="{{ STATIC_URL }}images/slider/submit-icon.png"/></div>
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="550" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 160px; left: 863px;"src="{{ STATIC_URL }}images/slider/arrows.png"/></div>
	                <div class="rsABlock" data-fade-effect="true" data-move-effect="right" data-opposite="true" data-move-offset="2000" data-delay="700" data-speed="700" data-easing="easeOutBack" >
		                <img style="position:absolute; top: 115px; left: 976px;"src="{{ STATIC_URL }}images/slider/win-icon.png"/></div>
                  </div>
                </div>
                <!--END IMAGE SLIDER-->

                <a class="arrow-button prev-green" style="left: 10px; top: 590px" onclick="homeSliderPrev()"></a>
                <a class="arrow-button next-green" style="left: 75px; top: 590px" onclick="homeSliderNext()"></a>

            </div>
        </div>
        <div id="events">
            <div class="events-container">
                <div class="picture-center" id="events-text"></div>
            </div>
        </div>
        <div id="getStarted">
            <div class="get-started-container">
                <div class="picture-center" id="get-started-text"></div>
            </div>
        </div>
        <div id="participants">
            <div class="participants-container">
                <div class="picture-center" id="participants-text"></div>
            </div>
        </div>
        <div id="contactUs">
            <div class="contact-us-container">
                <div class="picture-center" id="contact-us-text"></div>
            </div>
        </div>
    </div>

   <script type="text/javascript">
jQuery(document).ready(function($) {
  $('#home-slider').royalSlider({
    arrowsNav: true,
    loop: true,
    keyboardNavEnabled: true,
    controlsInside: true,
    imageScaleMode: 'fill',
    arrowsNav: true,
    arrowsNavAutoHide: false,
    autoScaleSlider: true, 
    numImagesToPreload: 3,
    controlNavigation: 'bullets',
    thumbsFitInViewport: false,
    navigateByClick: true,
    startSlideId: 0,
    autoPlay: {
    		// autoplay options go gere
    		enabled: true,
    		pauseOnHover: true,
    		delay: 4000
    	},
    transitionType:'move',
    globalCaption: true
  });
});</script>
		
<script type='text/javascript' src='{{ STATIC_URL }}js/slider.control.js'></script>
{% endblock %}




<!--


<h1>This is the index page! Welcome!</h1>
{% for post in newspost_list %}
    <h2>
        <a href="/news/{{post.id}}">{{ post.title }}</a>
    </h2>
    <p>
        {{ post.pub_date }}
    </p>
    <p>
        {{ post.content|safe }}
    </p>
{% endfor %}-->
