<!DOCTYPE html>

<html lang="en" >
    <head>
        <!--General Settings-->
        <title>
            {% block title %}Norwegian Game Awards{% endblock %}
        </title>
        <meta charset=utf-8">
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />
        
        
        <!-- In case of Internet Explorer -->
        <!--[if IE]>
        <script src=”http://html5shiv.googlecode.com/svn/trunk/html5.js”></script>
        <![endif]-->
            
        {% block extrahead %}{% endblock %}
        
    </head>

    <body>

            {% block body %}
                <div id="header">
                  {% if user.is_authenticated %}<p> Logged in as {{user.username}} </p> 
                  {% else %} <p> Not logged in </p> {% endif %}
                  <ul id="nav_global">
                    <li id="nav_homepage"><a href="/">Home</a></li>
                    <li id="nav_login"><a href="/members/login">Log In</a></li>
                    <li id="nav_admin"><a href="/admin">Admin</a></li>
                    <li id="nav_profile"><a href="/members/profile">Profile</a></li>
                    <li id="nav_logout"><a href="/members/logout">Log Out</a></li>
                    <li id="nav_register_member"><a href="/members/register">Register User</a></li>
                    <li id="nav_register_game"><a href="/runs/register">Register Game</a></li>
                    <li id="nav_game_list"><a href="/runs">Games</a></li>
                    <li id="nav_event_list"><a href="/events">Events</a></li>
                  </ul>
                </div>
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
                
                <div class="footer">
                    {% block footer %}{% endblock %}
                </div>
          
            {% endblock %}

    </body>
</html>

