<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            
        {% block extrahead %}{% endblock %}
    </head>

    <body id="{% block body_id %}generic{% endblock %}" class="{% block body_class %}default{% endblock %}">
        <div id="body">
            {% block body %}
                <div id="header">
                  {% if user.is_authenticated %}<p> Logged in as {{user.username}} </p> 
                  {% else %} <p> Not logged in </p> {% endif %}
                  <ul id="nav_global">
                    <li id="nav_homepage"><a href="/">Home</a></li>
                    <li id="nav_login"><a href="/members/login">Log In</a></li>
                    <li id="nav_admin"><a href="/admin">Admin</a></li>
                    <li id="nav_profile"><a href="/members/profile">Profile</a></li>
                    <li id="nav_logout"><a href="/members/logout">Log Out</a></li>
                    <li id="nav_register_member"><a href="/members/register">Register User</a></li>
                    <li id="nav_register_game"><a href="/runs/register">Register Game</a></li>
                    <li id="nav_game_list"><a href="/runs">Games</a></li>
                    <li id="nav_event_list"><a href="/events">Events</a></li>
                  </ul>
                </div>
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
                
                <div class="footer">
                    {% block footer %}{% endblock %}
                </div>
          
            {% endblock %}
        </div>
    </body>
</html>

