.game-column
{
    float:left;
    height:150px;
    padding-right:30px;

}
.game-row
{
    padding-bottom:20px;
    
}

.game
{
    margin-bottom:30px;
    width:300px;
    height:auto;
    overflow:hidden;
    border: none;
    padding:0;
}
.game-short-container:hover
{
    cursor:pointer;
}

.game-icon
{
    width:100px;
    height:100px;
    vertical-align: middle;
}
.game-icon img 
{
    vertical-align: middle;
    backgroun-color:black;
}
.game-short-text-container
{
    width:540px;
    height:200px;
    padding-left:20px;
}
.game-title
{
    font-size:20px;
    width:180px;
    text-align:left;
    margin:5px;
}
.game-desc
{
    width:180px;
    margin:5px;
}
.game-short-container
{
    width:760px;
    height:200px;
}
.game-long-container
{
    width:760px;
    height:auto;
    margin-top:20px;
    display:none;
}
.game-devs-container
{
    width:200px;
    height:auto;
    float:left;
    margin-right:20px;
    display:table-row;
}
.game-long-desc
{
    width:520px;
    height:auto;
    float:left;
    display:table-row;
    font-size:14px;
    font-weight:normal;

}

.game-long-desc b
{
    font-size: 14px;
}
.game-long-desc strong
{
    font-size: 14px;
}
.game-long-desc p
{
    font-size: 14px;
}
.game-long-desc i
{
    font-size: 14px;
}
.game-long-desc h3
{
    font-size: 22px;
}
.game-long-desc h2
{
    font-size: 25px;
}
.game-long-desc h1
{
    font-size: 30px;
}


.dev-container
{
    width:180px;
    height:auto;
    margin-bottom:10px;
    margin-top:10px;
    font-size:12px;
}
.dev-info
{

    padding-left:5px;
    padding-right:5px;
}
.dev-name
{
    font-size:16px;
}
.dev-role
{
    font-size:12px;
}
.dev-about
{
    font-size:8px;
}
.dev-separator
{
    width:100px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:20px;
    margin-top:20px;
    height:1px;

}
.your-game-list-element
{
    font-size:26px;
}

.game-link
{
    margin-top:10px;
    margin-bottom:20px;
    height:80px;
    width:780px;
}
.upload-link
{
    margin-top:10px;
    margin-bottom:20px;
    height:40px;
    width:780px;
}
#existing-devs-container
{
    width:100%;
    height:auto;
    margin-bottom:30px;
}
.existing-devs
{
    width:100%;
    height:25px;
}

.dev-long-container
{
    height:auto;
    width:760px;
    display:table;
}







