#home-slider {
  width: 800px;
  height: 660px;
  margin:0 auto;
}
#events-slider {
  width: 800px;
  height: 700px;
}
#get-started-slider {
  width: 800px;
  height: 600px;
  margin:0 auto;
}
#participants-slider {
  width: 800px;
  height: 350px;
}
#contact-us-slider {
  width: 800px;
  height: 400px;
}


.fullWidth {
  max-width: 1400px;
  margin: 0 auto 24px;
}

.slide-elem
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
}
/*NEWS FEED*/
.news-feed
{
	position: absolute;
	font-family: 'Titillium Web', 'Trebuchet MS', sans-serif;
	font-weight: 700;
	font-size: 25px;
	white-space: nowrap;
	color: #333;
	top: 400px;
	left: 50px;
	padding-left: 3px;
	padding-right: 3px;
	background: #87C458; /*fallback*/
	background: rgba(135,196,88,0.6);
	text-align: left;
	width: auto;
}


/*EVENTS ICONS*/
.event-icon
{
	width: 200px;
	height: 160px;
	top: 80px;
	position: absolute;
	display: block;
	background: url(../images/slider/events-icons-sprite.png) no-repeat;
	overflow: hidden;
}

.event-gamejam{background-position: 0px 0px}
.event-global-gamejam{background-position: -200px 0px}
.event-finale{background-position: -400px 0px}
.event-kick-off{background-position: -600px 0px}
.event-the-gathering{background-position: -800px 0px}
.event-nga-tour{background-position: -1000px 0px}


/*POSITIONING*/
.one-center{left: 300px;}

.three-left{left: 20px;}
.three-right{left: 580px;;}

.two-left{left: 150px;}
.two-right{left: 450px;}


/*EVENT TEXT*/
.event-name
{
	position: absolute;
	font-family: 'Titillium Web', 'Trebuchet MS', sans-serif;
	font-weight: 700;
	font-size: 25px;
	white-space: nowrap;
	color: #9ECE69;
	top: 230px;
	padding-left: 3px;
	padding-right: 3px;
	background: black; /*fallback*/
	background: rgba(0,0,0,0.6);
	text-align: center;
	width: 200px;
}

.event-date
{
	position: absolute;
	font-family: 'Titillium Web', 'Trebuchet MS', sans-serif;
	font-weight: 700;
	font-size: 20px;
	white-space: nowrap;
	color: #9ECE69;
	top: 272px;
	padding-left: 3px;
	padding-right: 3px;
	background: black; /*fallback*/
	background: rgba(0,0,0,0.6);
}

.event-description
{
	position: absolute;
	font-family: 'Titillium Web', 'Trebuchet MS', sans-serif;
	font-weight: 700;
	font-size: 17px;
	width: 200px;
	color: #9ECE69;
	top: 307px;
	padding-left: 3px;
	padding-right: 3px;
	background: black; /*fallback*/
	background: rgba(0,0,0,0.6);
}


/*SIGN UP BUTTEN*/
.sign-up-button{
 	z-index: 1337;
	position: absolute;
	width: 100px;
	height: 100px;
	top: 100px;
	background: url(../images/slider/sign-up-button.png) no-repeat;
	cursor: pointer
}

.one-center-button{left: 430px;}

.three-left-button{left: 150px;}
.three-right-button{left: 700px;;}

.two-left-button{left: 280px;}
.two-right-button{left: 580px;}


/*GET STARTED BUTTENz*/
.get-started-button
{
	width: 100px;
	height: 100px;
	position: absolute;
	display: block;
	background: url(../images/slider/get-started-buttons-sprite.png) no-repeat;
	overflow: hidden;
}

.gs-yes{background-position: 0px 0px}
.gs-yes:hover{background-position: 0px -100px}

.gs-no{background-position: -100px 0px}
.gs-no:hover{background-position: -100px -100px}

.gs-left{background-position: -200px 0px; width: 50px; height: 50px;}
.gs-left:hover{background-position: -200px -50px}

.gs-right{background-position: -250px 0px; width: 50px; height: 50px;}
.gs-right:hover{background-position: -250px -50px}

.gs-mac{background-position: -200px -100px; width: 50px; height: 50px;}

.gs-win{background-position: -250px -100px; width: 50px; height: 50px;}

.gs-programming{background-position: -300px 0px; width: 250px}
.gs-programming:hover{background-position: -300px -100px}

.gs-designing{background-position: -550px 0px; width: 200px}
.gs-designing:hover{background-position: -550px -100px}

.gs-music{background-position: -750px 0px; width: 200px}
.gs-music:hover{background-position: -750px -100px}

.gs-marketing{background-position: -950px 0px; width: 200px}
.gs-marketing:hover{background-position: -950px -100px}

.gs-dunno{background-position: -1150px 0px; width: 200px}
.gs-dunno:hover{background-position: -1150px -100px}

.gs-start{background-position: -1350px 0px; width: 280px}
.gs-start:hover{background-position: -1350px -100px}

.gs-construct2{background-position: -1630px 0px; width: 230px}
.gs-construct2:hover{background-position: -1630px -100px}

.gs-gamesalad{background-position: -1860px 0px; width: 210px}
.gs-gamesalad:hover{background-position: -1860px -100px}

.gs-unity{background-position: -2070px 0px; width: 150px}
.gs-unity:hover{background-position: -2070px -100px}

.gs-why{background-position: -2220px 0px}
.gs-why:hover{background-position: -2220px -100px}

/*GET STARTED SLIDES*/
.get-started-slide
{
	width: 800px;
	height: 600px;
	top: 0px;
	left: 0px;
	position: absolute;
	display: block;
	background: url(../images/slider/get-started-slides.png) no-repeat;
	overflow: hidden;
}

.gs-1{background-position: 0px 0px}
.gs-2{background-position: -800px 0px}
.gs-3{background-position: -1600px 0px}

.gs-4{background-position: 0px -600px}
.gs-5{background-position: -800px -600px}
.gs-6{background-position: -1600px -600px}

.gs-7{background-position: 0px -1200px}
.gs-8{background-position: -800px -1200px}
.gs-12{background-position: -1600px -1200px}

.gs-9{background-position: 0px -1800px}
.gs-10{background-position: -800px -1800px}
.gs-11{background-position: -1600px -1800px}

/*CONTACT BUTTONS HERE*/
.contact-button
{
	width: 120px;
	height: 120px;
	position: relative;
	display: block;
	background: url(../images/slider/contact-button-sprite.png) no-repeat;
	overflow: hidden;
	float:left;
	margin-top:100px;
}

.facebook-button{background-position: 0px 0px}
.facebook-button:hover{background-position: 0px -120px}

.twitter-button{background-position: -120px 0px}
.twitter-button:hover{background-position: -120px -120px}

.mail-button{background-position: -240px 0px}
.mail-button:hover{background-position: -240px -120px}

.contact-left{margin-left: 70px;margin-right:70px;}
.contact-center{margin-left: 70px;margin-right:70px;}
.contact-right{margin-left: 70px;margin-right:70px;}

/*ARROWS FOR IMAGE SLIDERS COMES HERE*/
span.arrow-button
{
	z-index: 101;
	top:50%;
	width: 60px;
	height: 60px;
	display: inline-block;
	background: url(../images/slider/arrow-sprite.png) no-repeat;
	overflow: hidden;
	position: absolute; 
}


/*GREEN*/
span.prev-green{background-position: 0px 0px}
span.prev-green:hover{background-position: 0px -60px}
span.prev-green:active{background-position: 0px -120px}

span.next-green{background-position: -60px 0px}
spana.next-green:hover{background-position: -60px -60px}
span.next-green:active{background-position: -60px -120px}

/*BLACK*/
span.prev-black{background-position: -120px 0px}
span.prev-black:hover{background-position: -120px -60px}
span.prev-black:active{background-position: -120px -120px}

span.next-black{background-position: -180px 0px}
span.next-black:hover{background-position: -180px -60px}
span.next-black:active{background-position: -180px -120px}

/*WHITE*/
span.prev-white{background-position: -240px 0px}
span.prev-white:hover{background-position: -240px -60px}
span.prev-white:active{background-position: -240px -120px}

span.next-white{background-position: -300px 0px}
span.next-white:hover{background-position: -300px -60px}
span.next-white:active{background-position: -300px -120px}




/* Carousel base class */
.carousel {
  height: 500px;
  -webkit-transition-timing-function: linear;
-moz-transition-timing-function: linear;
-o-transition-timing-function: linear;
transition-timing-function: linear;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
  overflow:hidden;
  text-align:center;
}
.item {
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    padding:20px;
}
.carousel-inner {
    height:100%;
    width:100%;
    margin:0 auto;
    display:block;
}
.carousel-inner > .item > img {
  margin:0 auto;
  max-height:460px;
}

/*
@media screen and (min-width:0px) and (max-width:1340px) {
  .heroSlider .rsOverflow,
  .royalSlider.heroSlider{
   	height: 498px !important;
  }
}

@media screen and (min-width:1960px) {
  .heroSlider .rsOverflow,
  .royalSlider.heroSlider {
      height: 952px !important;
  }
}
.style1 {
	padding-top: 0;
}*/
