{% extends "template.html" %} 

{% block template_nav %}

<li class="current_page_item"><a id="btnFirst" href="#second-container">PROFILE</a></li>
<li><a id="btnSecond"   href="#third-container">GAMES</a></li>
<li><a id="btnThird"    href="#fourth-container">UPLOADS</a></li>

{% endblock %} 

{% block first_container %}<div style="height:50px;width:100%"></div>{% endblock %}


{% block second %}

<div class="headline">Profile Information</div>

<div class="container" id="profileInfo">
    <div class="col-lg-4"></div>
    <div class="col-lg-2">
        <img src="http://placehold.it/100x150"></img>
    </div>
    <div class="col-lg-2">
        First&nbsp;Name: &nbsp;{{ user.first_name }} <br>
        Last&nbsp;Name: &nbsp;{{ user.last_name }} <br>
        Username: &nbsp;{{ user.username }} <br>
        Email: &nbsp;{{ user.email }} <br>
        About: &nbsp;{{ profile.about }}
    </div>
    <div class="col-lg-4"></div>
</div>

<div style="height:20px;width:100%"></div>
<div class="text-center margin-bot-20">
    <a href="/members/edit_member/"><button class="btn btn-default btn-lg">Edit profile</button></a>
</div>

{% endblock %}


{% block third %}
<div class="headline">Your games</div>

<div class="container">
    {% for g in games %}
        <div class="container" style="width:600px">
            <div class="game pull-left">
                <div class="pull-left">
                    <a href="/games/#game_{{ g.id }}">
                        <div class="game-icon default-game-icon" class=" inner-shadow">
                           <img width="100" height="100" src="{{ g.get_icon.image.url }}" />
                        </div>
                    </a>
                </div>
                <div class="pull-left">
                    <div class="game-title">
                        <a href ="/runs/game/{{ g.id }}">{{g.name}}</a>
                    </div>
                    <div class="game-desc">
                        {{ g.short_desc }}
                    </div>
                </div>
            </div>
            <div class="container pull-left" style="width:100px;">
                <a href="/gallery/add_game_pic/{{ g.id }}"><button class="btn btn-success btn-sm">Add images</button></a>
                <a href="/runs/edit/{{ g.id }}"><button class="btn btn-success btn-sm">Edit</button></a>
                <a href="/runs/add_game_dev/{{ g.id }}"><button class="btn btn-success btn-sm">Add Dev</button></a>
            </div>
        </div>
    {% endfor %}
</div>    

<div class="text-center margin-bot-20">
    <a href="/runs/register/"><button class="btn btn-default btn-lg">Register Game or Concept</button></a>
</div>

{% endblock %}




{% block fourth %}
<div class="headline">Your Uploads</div>
    
<div id="your-upload-list-container">
{% for u in uploads %}
    <div class="upload-link text-background">
        <div class="existing-left">&nbsp;{{ u.title }}</div>
        <div class="existing-mid">&nbsp;{{ u.version }}</div>
        <div class="existing-right">&nbsp;{{ u.game.name }}</div>
    </div>
{% endfor %}
</div>


<div style="height:20px;width:100%"></div>

{% if upload %}
<div class="text-center margin-bot-20">
    <a href="/members/upload/"><button class="btn btn-default btn-lg">Upload Game or Concept</button></a>
</div>
{% endif %}
{% endblock %}
