{% extends "single_page.html" %}

{% block page %}

<div id="register-member-container" class="single-page-container">
    
    <h1> Reset Password </h1><br>
    <p style="background: indianred;color: white; padding: 5px;"> {{ status }} </p><br>
    
    <form action="/members/resetpassword/user/" method="post">
   {% csrf_token %}
        <div class="register_div">

                <p>{{ userform.as_p }}</p>

        </div></br>

        <p><input type="submit" alt="register" /></p>
    </form>
    <br><br>
    <form action="/members/resetpassword/email/" method="post">
   {% csrf_token %}
        <div class="register_div">

            <p>{{ emailform.as_p }}</p>

        </div></br>

        <p><input type="submit" alt="register" /></p>
    </form>
    
    
</div>



{% endblock %}
