<div id="get-started-slider" class="royalSlider rsMinW ">
                                    
<div class="rsContent rsNoDrag">

    <div class="get-started-slide gs-9"></div>

		<a class="get-started-button gs-yes" style="left: 538px; top: 150px; position: absolute" onclick="getStartedSliderNext()"></a>

		<a class="get-started-button gs-no" style="left: 150px; top: 150px; position: absolute" onclick="getStartedSliderTo(2)"></a>

		<a class="get-started-button gs-right" style="left: 710px; top: 310px; position: absolute" onclick="getStartedSliderNext()"></a>

</div>



<div class="rsContent rsNoDrag">

    <div class="get-started-slide gs-10"></div>

		<a class="get-started-button gs-right" style="left: 631px; top: 310px; position: absolute" onclick="getStartedSliderTo(3)"></a>

</div>



<div class="rsContent rsNoDrag">

    <div class="get-started-slide gs-11"></div>

		<a class="get-started-button gs-yes" style="left: 538px; top: 150px; position: absolute" onclick="getStartedSliderPrev()"></a>

		<a class="get-started-button gs-no" style="left: 150px; top: 150px; position: absolute" onclick="getStartedSliderTo(0)"></a>

		<a class="get-started-button gs-right" style="left: 635px; top: 310px; position: absolute" onclick="getStartedSliderNext()"></a>

</div>



				<!--SLIDE 1-->

<div class="rsContent rsNoDrag">

    <div class="get-started-slide gs-1"></div>

		<a class="get-started-button gs-yes" style="left: 491px; top: 150px; position: absolute" onclick="getStartedSliderNext()"></a>

		<a class="get-started-button gs-no" style="left: 150px; top: 150px; position: absolute" onclick="getStartedSliderPrev()"></a>

</div>

<!-- END SLIDE 1-->

<div class="rsContent rsNoDrag">

    <div class="get-started-slide gs-2"></div> 

		<a class="get-started-button gs-left" style="left: 73px; top: 310px; position: absolute" onclick="getStartedSliderPrev()"></a>

		<a class="get-started-button gs-start" style="left: 30px; top: 480px; position: absolute" onclick="getStartedSliderTo(11)"></a>

		<a class="get-started-button gs-programming" style="left: 510px; top: 0px; position: absolute" onclick="getStartedSliderNext()"></a>

		<a class="get-started-button gs-designing" style="left: 510px; top: 120px; position: absolute" onclick="getStartedSliderTo(6)"></a>

		<a class="get-started-button gs-music" style="left: 510px; top: 240px; position: absolute" onclick="getStartedSliderTo(7)"></a>

		<a class="get-started-button gs-marketing" style="left: 510px; top: 360px; position: absolute" onclick="getStartedSliderTo(8)"></a>

		<a class="get-started-button gs-dunno" style="left: 510px; top: 480px; position: absolute" onclick="getStartedSliderTo(9)"></a>



</div>



<div class="rsContent rsNoDrag">

    <div class="get-started-slide gs-3"></div>

		<a class="get-started-button gs-why" style="left: 583px; top: 178px; position: absolute" onclick="getStartedSliderTo(10)"></a>

		<a class="get-started-button gs-left" style="left: 150px; top: 203px; position: absolute" onclick="getStartedSliderTo(4)"></a>

</div>

4

<div class="rsContent rsNoDrag">

    <div class="get-started-slide gs-4"></div>

		<a class="get-started-button gs-why" style="left: 583px; top: 178px; position: absolute" onclick="getStartedSliderTo(10)"></a>

		<a class="get-started-button gs-left" style="left: 150px; top: 203px; position: absolute" onclick="getStartedSliderTo(4)"></a>

</div>



<div class="rsContent rsNoDrag">

    <div class="get-started-slide gs-8"></div>

		<a class="get-started-button gs-why" style="left: 583px; top: 178px; position: absolute" onclick="getStartedSliderTo(10)"></a>

		<a class="get-started-button gs-left" style="left: 150px; top: 203px; position: absolute" onclick="getStartedSliderTo(4)"></a>

</div>



<div class="rsContent rsNoDrag">

    <div class="get-started-slide gs-12"></div>

		<a class="get-started-button gs-why" style="left: 583px; top: 178px; position: absolute" onclick="getStartedSliderTo(10)"></a>

		<a class="get-started-button gs-left" style="left: 150px; top: 203px; position: absolute" onclick="getStartedSliderTo(4)"></a>

</div>



<div class="rsContent rsNoDrag">

    <div class="get-started-slide gs-7"></div>

		<a class="get-started-button gs-why" style="left: 583px; top: 178px; position: absolute" onclick="getStartedSliderTo(10)"></a>

		<a class="get-started-button gs-left" style="left: 150px; top: 203px; position: absolute" onclick="getStartedSliderTo(4)"></a>

</div>



<div class="rsContent rsNoDrag">

    <div class="get-started-slide gs-6"></div>

		<a class="get-started-button gs-start" style="left: 330px; top: 275px; position: absolute" onclick="getStartedSliderNext()"></a>

		<a class="get-started-button gs-left" style="left: 426px; top: 475px; position: absolute" onclick="getStartedSliderTo(4)"></a>

</div>



<div class="rsContent rsNoDrag">

    <div class="get-started-slide gs-5"></div>

		<a class="get-started-button gs-left" style="left: 549px; top: 423px; position: absolute" onclick="getStartedSliderTo(4)"></a>

		<a class="get-started-button gs-construct2" style="left: 20px; top: 200px; position: absolute" href="http://www.scirra.com/construct2" target="_blank"></a>

		<a class="get-started-button gs-gamesalad" style="left: 20px; top: 320px; position: absolute" href="http://gamesalad.com/" target="_blank"></a>

		<a class="get-started-button gs-unity" style="left: 20px; top: 440px; position: absolute" href="http://unity3d.com/unity/download/" target="_blank"></a>

		<div class="get-started-button gs-win" style="left: 263px; top: 465px; position: absolute" ></div>

		<div class="get-started-button gs-win" style="left: 283px; top: 345px; position: absolute" ></div>

		<div class="get-started-button gs-win" style="left: 270px; top: 225px; position: absolute" ></div>

		<div class="get-started-button gs-mac" style="left: 193px; top: 465px; position: absolute" ></div>

		<div class="get-started-button gs-mac" style="left: 231px; top: 345px; position: absolute" ></div>



				

</div>

</div>