{% extends "template.html" %}

{% block template_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/royalslider.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}royalslider/royalslider/default/rs-default.css" />
{% endblock %}



{% block template_nav %}
<li class="current_page_item">  <a id="btnHome" href="#first-container">HOME</a></li>
<li id="btnEvents"><a href="#second-container">EVENTS</a></li>
<li><a id="btnGetStarted" href="#third-container">NEWS</a></li>
<li><a id="btnParticipants" href="#fourth-container">GAMES</a></li>
<li><a id="btnContactUs" href="#fifth-container">CONTACT US</a></li>
{% endblock %}
	

	
{% block first_container %}



 <!--
<div class="partner-logo-container">
    <div class="nga-logo-container">
       
    </div>
   
    <div class="partner-container">
        <!--<a href="https://www.norsk-tipping.no/" target="_blank" class="partners nt-logo"></a>
        <a href="http://www.arm.com/" target="_blank" class="partners arm-logo"></a>
        <a href="http://skatteetaten.no/" target="_blank" class="partners etat-logo"></a>
        <a href="http://startntnu.no/" target="_blank" class="partners start-logo"></a>-->
    </div>
    
</div>
-->



    
<div id="first-container" class="dark-container centerWrapper">
    <div class="contentCenter">
    
        <!--HOME SLIDER-->
	    <div id="carousel-home" class="carousel slide" data-ride="carousel">
	        <ol class="carousel-indicators">
                {% for slide in home_slide_list %}
                <li data-target="#carousel-home" data-slide-to="{{ slide.index }}"></li>
                {% endfor %}
            </ol>
	        <div class="carousel-inner">
            {% for slide in home_slide_list %}
                <div class="item">
                    {{ slide.text|safe }}
                    <div class="carousel-caption">
                    </div>
                </div>
            {% endfor %}
            </div>
            <a class="left carousel-control" href="#carousel-home" data-slide="prev">
                <span class="arrow-button prev-black chevron-left"></span>
            <a class="right carousel-control" href="#carousel-home" data-slide="next">
                <span class="arrow-button next-black chevron-right"></span>
            </a>
	    </div>
        
        
        <!--END HOME SLIDER-->
    </div>
    
</div>
{% endblock %}
	
	
	
	
{% block second %}
<div class="headline carousel-headline">EVENTS</div>

<!--EVENT SLIDER-->
<div id="carousel-event" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for slide in event_slide_list %}
        <li data-target="#carousel-event" data-slide-to="{{ slide.index }}"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
    {% for slide in event_slide_list %}
        <div class="item">
            <div style="height:100px; width:100%"></div>
            <div class="container" style="position:relative;">
                {{ slide.text|safe }}
            </div>
            <div class="carousel-caption">
            </div>
        </div>
    {% endfor %}
    </div>
    <a class="left carousel-control" href="#carousel-event" data-slide="prev">
        <span class="arrow-button prev-black chevron-left"></span>
    <a class="right carousel-control" href="#carousel-event" data-slide="next">
        <span class="arrow-button next-black chevron-right"></span>
    </a>
</div>
<!--END EVENT SLIDER-->


    
{% endblock %}
	

{% block third %}
<div class="headline">NEWS</div>
<div style="width:800px; margin:0 auto;">
    <div class="container fb-like-box" data-href="http://www.facebook.com/norwegiangameawards" data-width="800" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
</div>
<div style="height:80px; width:100%"></div>
{% endblock %}
<!--

<div class="container">
{% for article in news %}
<div class="article col-lg-3">
    <div class="title">{{ article.title }}</div>
    <div class="container">{{ article.content|truncatewords_html:20 }}</div>
    <a href="/news/{{ article.id }}"><button class="btn btn-default btn-sm">Read</button></a>
</div>
{% endfor %}
</div>

<!-- GET STARTED
<div id="third-container" class="centerWrapper get-started">
    <div class="contentCenter">
        {% include "news/getstarted.html" %}
    </div>
</div>


<div class="headline carousel-headline">GET STARTED</div>

<div id="carousel-getstarted" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for slide in getstarted_slide_list %}
        <li data-target="#carousel-getstarted" data-slide-to="{{ slide.index }}"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
    {% for slide in getstarted_slide_list %}
        <div class="item">
            {{ slide.text|safe }}
            <div class="carousel-caption">
            </div>
        </div>
    {% endfor %}
    </div>
    <a class="left carousel-control" href="#carousel-getstarted" data-slide="prev">
        <span class="arrow-button prev-black chevron-left"></span>
    <a class="right carousel-control" href="#carousel-getstarted" data-slide="next">
        <span class="arrow-button next-black chevron-right"></span>
    </a>
</div>
-->





{% block fourth %}
<div class="headline">GAMES</div>
<div class="container text-center">
    <a href="/games/"><button class="btn btn-default btn-lg">See all games!</button></a>
    <a href="/info/#guides-container"><button class="btn btn-default btn-lg">Submission guide</button></a>
    <a href="/info/#third-container"><button class="btn btn-default btn-lg">Participation Rules</button></a>
</div>
<div style="height:50px; width:100%"></div>
<div class="container" style="width:930px">
    {% for g in game_list %}
    <a href="/games/">
        <div class="game container col-lg-4">
            <div class="pull-left">
                <a href="/games/#game_{{ g.id }}">
                    <div class="game-icon default-game-icon" class=" inner-shadow">
                       <img width="100" height="100" src="{{ g.get_icon.image.url }}" />
                    </div>
                </a>
            </div>
            <div class="pull-left">
                <div class="game-title">
                    {{g.name}}
                </div>
                <div class="game-desc">
                    {{ g.short_desc }}
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
<div style="height:50px; width:100%"></div>
{% endblock %}




{% block fifth %}
<div class="headline carousel-headline">CONTACT US</div>
    <!--CONTACT US SLIDER-->
    <div class="index-content">
        <a class="contact-button facebook-button" href="http://www.facebook.com/norwegiangameawards" target="_blank"></a>
        <a class="contact-button twitter-button" href="https://twitter.com/Gameawards" target="_blank"></a>
        <a class="contact-button mail-button" href="mailto:contact@gameawards.no" target="_blank"></a>
        <table>
	            <tr>
		            <td style="width: 50%">&nbsp;</td>
		                <td style="width:800px;"> 
		                    <div id="footer-div">
                                <div id="footer-text-container">
                                    <div class="footer-text" >
                                        Developed and maintained by Jørgen Foss Eri and Tobias Linkjendal. Contact us at: <a href="mailto:web@gameawards.no" style="font-size:12px">web@gameawards.no</a>
                                    </div>
                                </div>		            
		                    </div>
                        </td>
                  
		            <td style="width: 50%">&nbsp;</td>
	            </tr>
            </table>
    </div>
</div>

{% endblock %}

    
{% block after_content_table %}

<div class="centerWrapper" style="background-image: url('../images/bg-rep-dark.png');background-color: #89C559;">

    <!--GET STARTED SLIDER-->
    <div id="get-started-slider" class="royalSlider rsMinW ">
        {% for slide in getstarted_slide_list %}
            {{ slide.text|safe }}
        {% endfor %}
    </div>
</div>

<div class="centerWrapper">
    <div class="contentCenter">
        <div id="map_canvas" style="height: 400px; width: 100%"></div>
    </div>
</div>
{% endblock %}




{% block base_scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhjFDtSrKYC74aDhRS9YgHPibTkpShps8&sensor=true"></script>
<script src="{{ STATIC_URL }}js/map.style.js"></script>

<script>
$(function() {
    //FOR THE GET STARTED SLIDER
    $('#get-started-slider').royalSlider({
        arrowsNav: true,
        loop: false,
        keyboardNavEnabled: false,
        controlsInside: true,
        imageScaleMode: 'fill',
        arrowsNav: true,
        arrowsNavAutoHide: false,
        autoScaleSlider: true,
        autoScaleSliderWidth: 800,     
        autoScaleSliderHeight: 600, 
        numImagesToPreload: 4,
        controlNavigation: 'bullets',
        thumbsFitInViewport: false,
        navigateByClick: false,
        startSlideId: 3,
        minSlideOffset: 0,
        autoPlay: false,
        transitionType:'move',
        globalCaption: true
    });
});
</script>
{% endblock %}




