{% extends "template.html" %}

{% block template_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/info.css" />
{% endblock %}

{% block template_nav %}

<li class="current_page_item"><a id="btnFirst"    href="#second-container">    FAQ</a></li>
<li><a id="btnSecond"   href="#third-container">   RULES</a></li>
<li><a id="btnThird"    href="#fourth-container">    CATEGORIES</a></li>
<li><a id="btnFourth"   href="#fifth-container">   ORGANIZERS</a></li>
<li><a id="btnFifth"    href="#guides-container">    GUIDES</a></li>

{% endblock %}	



{% block first_container %}{% endblock %}


{% block second %}
<div class="picture-center" id="faq-text"></div>
<div style="color: black;">
    {{ faq.text|safe }}
</div>
{% endblock %}	



{% block third %}
<div class="picture-center" id="rules-text"></div>
<div style="color: white;">
    {{ rules.text|safe }}
</div>
{% endblock %}



{% block fourth %}
<div class="picture-center" id="categories-text"></div>
    {{ categories.text|safe }}
{% endblock %}


{% block fifth %}
<div class="picture-center" id="organizers-text"></div>
<div id="organizer-content" style="color:black; height:auto; padding-bottom:30px;">
    {{ organizers.text|safe }}
</div>
{% endblock %}



{% block template_content_table %}

<div id="guides-container" class="centerWrapper">
    <div class="contentCenter">
        <div class="picture-center" id="guides-text"></div>
        <div style="text-align:left">
            {{ guides.text|safe }}
        </div>
    </div>
</div>

{% endblock %}

